@media(max-width: 1150px){

    .container-categories {
        display: none;
    }

    .container-carousel{
        display: none;
    }

    .container-desktop {
        display: none;
    }
    
    .container-mobile {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

@media(max-width: 800px){
    .container-cart {
        max-width: 100%;
    }

}

@media(max-width: 1150px){
    .col-md-11 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .container-action {
        width: 100%;
        text-align: center;
    }
    
}

@media(max-width: 1250px){

    .container-fluid-service {
        max-width: 80%;
    }

    .container-fluid-data{
        height: auto;
        text-align: center;
    }

    .container-my {
        flex-direction: column;
        align-items: center
    }

    .container-my-1 {
        display: flex;
        flex-direction: row;
        text-align: start;
        align-items: center;
        justify-content:start ;
        margin: 0px 0px 10px;
    }

    .principle {
        font-size: 40px;
    }

    .title {
        font-size: 35px;
        letter-spacing: 2px;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    
    .container-teach {
        display: none;
    }
}

@media(max-width: 1000px){
    .container-information {
        flex-direction: column;
        /* text-align: center; */
        align-items: center;
        gap: 0px;
    }

    .container-information h3 {
        width: 80%;
        border-bottom: 1px solid black;
        border-top: 1px solid black;
        padding: 15px;
        gap: 0px;
        text-align: center;
    }

    .content {
        flex-direction: column;
    }

    .content img {
        width: 400px;
        height: 400px;
        text-align: center;
    }

    .container-curricular{
        border-top: 1px solid black;
        border-bottom: 1px solid black;
        text-align: center;
    }
}

@media(max-width: 1150px){
    .container-carousel {
        flex-direction: column;
        align-items: center;
    }

    .information {
        max-width: 100%;
    }
    
    .carousel-control-next, .carousel-control-prev {
        width: 8%;
    }

    .container-teach-actions {
        width: 300px;
        left: 20px;
        position: absolute;
        top: -180px;
        transform: translateX(50%);
        transform: translateY(100%);
    }
}

@media(max-width: 1540px){
    .col-md-3 img {
        width: 200px;
        height: 200px;
    }
}

@media(max-width: 1000px){
    .container-fluid {
        max-width: 100%;
    }

    .data-instrutor {
        max-width: 90%
    }
}


@media(max-width: 700px){
    .col-md-6 {
        margin-left: 0;
    }

    .col-md-3 {
        display: none;
    }

    .container-teach-actions {
        display: none;
    }

}

@media(min-width: 700px){

    .container-teach-actions-2 {
        display: none;
    }
}

